cite {
    color: #c7254e;
    background-color: #f2f2f2;
    padding: 2px 4px;
    vertical-align: middle;
    white-space: pre-wrap;
    font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 12px;
}